@import '../../../../assets/styles/variables';

:host {
  @include media-breakpoint-up(md) {
    height: 56px;
  }
  height: 216px;
}

.user-info {
  display: flex;
  align-items: center;

  span {
    color: $color-grey-medium;
    margin-right: 10px;
  }

  .btn-log-out {
    background: none;
    border: none;
    outline: none;
  }
}
